/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 1, 2017, 3:29:27 PM
    Author     : adnan
*/
/**************************
LAYOUT
**************************/
body {
  position: relative;
  padding-bottom: 70px;
  padding-top: 300px;
}
#page-container {
/*     background: red; */
    clear: both;
/*     position: relative; */
    padding: 5px;
    /* min-height: 300px; */
    width: 300px;
/*     height: 200px; */
    position: absolute;
    right: 50%;
    margin-right: -150px;
    top: 50%;
    margin-top: -150px;
}

#page-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 70px;
    background: orange;
/* background: rgba(0,0,0,.5); */
    padding: 1em .2em;
}
/***************************
BUTTONS
***************************/

.center {
  text-align: center;
  margin: 0 auto;
}
/***************************
FORM
***************************/
form {
    border: 2px solid orange;
    padding: 5px;
/*     height: 250px; */
/*     position: relative; */
/*     overflow: hidden; */
}
form * {
    display: block;
    line-height: 1;
    margin: 10px;
    box-sizing: border-box;
}
form label[for] {
/*   background: red; */
  display: inline-block;
  width: 60px;
  float: right;
}
form .label-name {
    margin: -5px;
    padding: 10px 5px;
    background: orange;
    background:#ffb42b
     repeating-linear-gradient(-70deg, transparent 0%, transparent 1%, orange 1%, orange 2%);
}
form [type="submit"] {
  transition: .3s;
  border: 0;
  background: blue;
  background: orange linear-gradient(-60deg,
  transparent 20%, blue 20%);
  padding: 10px 20% 10px 10px;
  color: white;
  font: bold 120%/1 titr;
  display: block;
  width: 100%;
  margin-right: 0px;
}
form [type="submit"]:hover {
  border: 0;
  background: orange;
  background: #ffbd43 linear-gradient(-60deg,
  transparent 20%, blue 20%);
  padding: 10px 20% 10px 10px;
  color: white;
  font: bold 120%/1 titr;
  display: block;
  width: 100%;
  margin-right: 0px;
}
form .label-name:last-child {
  height: auto;
}
form .close {
  padding: 0;
  margin: 0;
  position: relative;
}
form .close:before {
  content: "\f05c";
  font: 200%/0 fontawesome;
  position: absolute;
  top: -5px;
  right: -20px;
  color: blue;
  transition: .3s;
  cursor: pointer;
}
form .close:hover:before {
  transform: scale(1.5) rotateZ(360deg);
}
/***************************
MESSAGES
***************************/
.error {
  color: red;
}
.error li {
  font: 100%/1 titr;
}
.error li:before {
  content: "\f071";
  display: inline-block;
  font: 120% fontawesome;
  margin-left: 10px;
}
.message {
  padding: 20px;
  font: bold 150%/1 titr;
/*   color: white;
  border: 3px solid blue;
    background:#59b9ff
     repeating-linear-gradient(-70deg, 
     transparent 0%, transparent 1%, 
     #5050ff 1%, #5050ff 2%); */

  color: white;
  border: 3px solid green;
    background:#02c302
     repeating-linear-gradient(-70deg, 
     transparent 0%, transparent 1%, 
     green 1%, green 2%);
}
/***************************
MEDIA QUERY
***************************/
@media screen and (max-width: 320px) {
  body {
    position: relative;
    padding-bottom: 150px;
    padding-top: 300px;
  }
  #page-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 150px;
      background: orange;
/*       background: rgba(0,0,0,.5); */
      padding: 1em .2em;
  }
  #page-container {
      position: absolute;
      margin: 0;
      top: 0;
      right: 0;
      left: 0;
      width: auto;
      padding: 0;
  }

  form {
    width: 100%;

  }

  form * {
      display: block;
      line-height: 1;
      margin: 10px 0px;
      clear: both;
  }
  form [type="submit"] {
    transition: .3s;
    border: 0;
    background: blue;
      background: orange linear-gradient(-70deg,
    transparent 15%, blue 15%);
    padding: 10px 15% 10px 5px;
    font: 90% titr;
  }
  form [type="submit"]:hover {
    transition: .3s;
    border: 0;
    background: #ffbd43;
      background: #ffbd43 linear-gradient(-70deg,
    transparent 15%, blue 15%);
    padding: 10px 15% 10px 5px;
    font: 90% titr;
  }
  form .close {
    margin: -5px -5px 0px -5px;
    position: relative;
    text-align: center;
    background: blue;
    color: white;
  }
  form .close:before {
    font: 300%/1 fontawesome;
    position: static;
    color: white;
  }
  form .close:hover:before {
    text-shadow: 1em 0px 0px white,
                 -1em 0px 0px white;
  }
}