/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 1, 2017, 3:29:27 PM
    Author     : adnan
*/

/***********************
RESET
***********************/

@font-face {
    font-family: b naz;
    src: url("../fonts/BNaznnBd.ttf");
    font-weight: bolder;
}
@font-face {
    font-family: naz;
    src: url("../fonts/BNazanin.ttf");
}
@font-face {
    font-family: titr;
    src: url("../fonts/BTitrBd.ttf");
}
body, html, div, b, i, strong, a, p, span, * {
    margin: 0;
    padding: 0;
    font: 100%/1.7 naz;
    box-sizing: border-box;
}
html:root ,body, html {
    font-size: 16px;
    height: 100%;
    width: auto;
    direction: rtl;
}

h1, h2, h3, h4, h5, h6 {
    font: 120%/2 titr;
}

ul, li {
    list-style: none;
}

ul, li, ol, dt, dd, dl {
    margin-right: 15px;
}
