/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 1, 2017, 3:29:27 PM
    Author     : adnan
*/
/**************************
LAYOUT
**************************/
.inline-block {
  display: inline-block;
}
#page-header {
    clear: both;
    display: block;
}

#page-container {
/*     background: red; */
    clear: both;
    overflow: auto;
    padding: 5px;
}
#page-container #sidebar {
    width: 200px;
    float: left;
/*     background: green; */
}

#page-container #main {
/*     background: yellow; */
    margin-left: 210px;
}

#page-footer {
    background: orange;
    padding: 1em .2em;
}
/**************************
HEADER
**************************/
#page-header {
    background: orange;
    box-shadow: 0px 2px 0px 0px #cccccc;
    padding: 1em 0;
    margin-bottom: 40px;
}
#page-header > #user-box {
  padding: 0 10px;
}

#page-header > #user-box > a {
    padding: 0 20px;
    border-radius: 5px;
    margin: 0 5px;
    text-decoration: none;
}
#page-header > #user-box > [title="login"] ,
#page-header > #user-box > [title="logout"] ,
#page-header > #user-box > a:first-child ,
#page-header > #user-box > a:nth-child(0) {
/*     background: #59b9ff; */
    background: blue;
    color: white;
    transition: .3s;
}
#page-header > #user-box > [title="login"]:hover ,
#page-header > #user-box > [title="logout"]:hover ,
#page-header > #user-box > a:first-child:hover ,
#page-header > #user-box > a:nth-child(0):hover {
/*     background: #59b9ff; */
    background: #2a2aff;
    box-shadow: 0px 0px 2px 1px white;
    color: white;
}
#page-header > #site-icon {
    border-radius: 50%;
    border: 5px #eee outset;
    overflow: hidden;
    height: 80px;
    width: 80px;
    margin-bottom: -60px;
    float: left;
    margin-left: 30px;
}
/***************************
GALLERY
***************************/
.gallery {
/*     background: orange; */
    text-align: center;
}
.gallery .gallery-item {
/*     background: yellow; */
    position: relative;
    margin: 5px auto 0;
    display: inline-block;
    max-width: 30%;
    width: 30%;
    height: auto;
    padding: 0px;
    overflow: hidden;
    vertical-align: top;
    transition: .3s;
}
.gallery .public {
    position: absolute;
    top: 0;
    left: 0;
    font: 200%/1 fontawesome;
    color: orange;
    padding: 5px;
    text-shadow: 1px 1px 2px blue, 
    -1px 1px 2px blue,
    1px -1px 2px blue,
    -1px -1px 2px blue;
}
.gallery .gallery-item .gallery-image {
/*     background: red; */
    width: 100%;
    height: auto;
/*     max-height: 400px; */
}
.gallery .gallery-item > .gallery-item-text {
    padding: 5px;
    margin: 0;
    max-height: 0px;
    bottom: -100%;
    position: absolute;
    transition: .3s;
    background: rgba(111, 111, 111, 0.6);
    color: white;
    width: 100%;
    text-align: right;
}
.gallery .gallery-item:hover > .gallery-item-text ,
.gallery .gallery-item:focus > .gallery-item-text {
    bottom: 0%;
    max-height: 100%;
}
.show-gallery {
  overflow: auto;
}
.show-gallery img {
  max-width: 100%;
  width: auto;
}
/****************************
MENU
****************************/
#sidebar a, #sidebar a:link {
    text-decoration: none;
    font: 100%/1 b naz;
}
#sidebar a:hover, #sidebar a:focus {
    color: #de9001;
}
/*#sidebar > ul {
    max-height: 0;
    overflow: hidden;
    transition: .3s;
}
#sidebar > .show {
    max-height: 100%;
}*/
/***************************
BUTTONS
***************************/

.btn {
  text-decoration: none;
  font: 100% titr;
  color: orange;
  transition: .3s;
  padding: 1em;
}
.btn:before {
  content: "«";
}
.btn:after {
  content: "»";
}
.btn:before ,
.btn:after {
  color: orange;
  margin: 0 10px;
  font: 120%/1 titr;
  opacity: 0;
  transition: .3s, color .1s;
}
.btn:hover {
  color: blue;
}
.btn:hover:before ,
.btn:hover:after {
  color: blue;
  opacity: 1;
}
.btn:hover:before {
  margin-left: 5px;
}
.btn:hover:after {
  margin-right: 5px;
}
/***************************
FORM
***************************/
form {
    border: 2px solid orange;
    padding: 5px;
  overflow: auto;
}
.is-form{
  
}
.is-form label:not(.label-name) {
  clear: left;
  display: block;
}
.is-form input ,
.is-form select {
  display: block;
  width: 50%;
}
.is-form input ,
.is-form select ,
.is-form label:not(.label-name) {
  margin-top: 10px;
  margin-top: .7em;
  margin-bottom: 5px;
}
.is-form label:not(.label-name) {
  clear: right;
  display: inline-block;
}
form label,form textarea, form img {
    display: block;
    line-height: 1;
    margin: 10px;
}
form label[for] {
/*   background: red; */
  display: inline-block;
  width: 60px;
  float: right;
}
form .label-name {
    margin: -5px;
    padding: 10px 0px;
    background: orange;
    background:#ffb42b
     repeating-linear-gradient(-70deg, transparent 0%, transparent 1%, orange 1%, orange 2%);
}
form textarea {
    max-width: calc(100% - 20px);
}
form img {
    width: 50%;
    max-width: 50%;
}
form [type="submit"] , 
form [type="button"] ,
.btn-form {
  text-decoration: none;
  text-align: center;
  transition: .3s;
  border: 0;
  background: blue;
  background: orange linear-gradient(-60deg,
  transparent 20%, blue 20%);
  padding: 10px 5% 10px 10px;
  color: white;
  font: bold 120%/1 titr;
  display: block;
  width: 100%;
  margin-right: 0px;
}
form [type="submit"]:hover , 
form [type="button"]:hover ,
.btn-form:hover {
  background: orange;
  background: #ffbd43 linear-gradient(-60deg,
  transparent 20%, blue 20%);
}
form .label-name:last-child {
  height: auto;
}
.has-table {
  overflow: auto;
}
form table {
  width: 100%;
  background: whitesmoke;
  border-spacing: 0;
  border-collapse: collapse;
  text-align: center;
}
form table tr:first-child {
  border-bottom: 2px solid orange;
}
form table tr th,
form table tr td:first-child {
  font: 100% titr;
}
form table tr:nth-child(even) {
  background: rgba(255, 164, 0, 0.15);
}
/*form table tr td [title="ویرایش"] {
  margin-left: 5px;
}

form table tr td [title="حذف"] {
  margin-right: 5px;
}*/
form table tr td i:not(:last-child) {
  margin-left: 5px;
}
form table tr td {
  min-width: 100px;
  padding: 0 5px;
}
form table tr td [title="ویرایش"],
form table tr td [title="حذف"] {
  font-size: 140%;
  padding: 5px 10px;
  cursor: pointer;
}
form table tr td [title="ویرایش"]:hover,
form table tr td [title="حذف"]:hover {
  color: orange;
}
/* form table tr td i:first-child:after {
  content: attr(title);
  background: orange;
  color: white;
  font: 80%/1.3 titr;
  position: absolute;
  right: -100%;
  top: -150%;
  border: 1px solid #444;
  padding: 1px 10px;
  border-radius: 10%;
  display: none;
  opacity: 0;
  transition: .3s;
  
}
form table tr td i:first-child:hover:after {
  top: -120%;
  display: block;
  opacity: 1;
} */
.is-profile {
  overflow: auto;
}
.is-profile img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  width: 13em;
  height: 13em;
  margin: 1em auto;
  border: 3px solid orange;
}
.is-profile label:not(.label-name) {
  clear: right;
  vertical-align: top;
  font: 90%/1 b titr;
  margin-top: 5px;
}
.is-profile [type="submit"] ,
.is-profile [type="button"] {
  width: 48%;
  float: right;
}
.is-profile [type="submit"]:last-child ,
.is-profile [type="button"]:last-child {
  float: left;
}
.is-profile [type="file"] {
  display: block;
}
.is-gallery {

}
.is-gallery label:not(.label-name) {
  min-width: 80px;
  display: inline-block;
  clear: right;
  float: right;
}
.is-gallery select ,
.is-gallery textarea {
  vertical-align: top;
}
.fiftin {
  margin-top: 1em;
  max-width: 49%;
  display: inline-block;
  float: right;
  clear: right;
}
.fiftin:last-child {
  float: left;
  clear: left;
}
.is-gallery .img {
  display: block !important;
  clear: both !important;
  float: none !important;
}
[for="reply"] {
  display: block !important;
  width: 100% !important;
  
}
.is-normal-form label {
  clear: right;
  min-width:100px; 
}
.is-normal-form [type="password"] {
  margin: 5px 0;
  display: block;
}
.center {
  text-align: center;
  margin: 0 auto;
}
/***************************
MESSAGES
***************************/
.error {
  color: red;
  margin: 0px 0 10px;
  border: 3px solid red;
  padding: 10px 0px;
  background: rgba(255, 165, 0, 0.55);
/*   animation: move .5s 0s infinite; */
/*   background:rgba(255, 180, 43, 0.48)
     repeating-linear-gradient(-70deg,
      transparent 0%, transparent 1%,
       rgba(255, 165, 0, 0.55) 1%,
        rgba(255, 165, 0, 0.55) 2%); */
  background-color: white;
}/* 
@keyframes move {
  0% {
    background:rgba(255, 180, 43, 0.48)
     repeating-linear-gradient(-70deg,
      transparent 0%, transparent 1%,
       rgba(255, 165, 0, 0.55) 1%,
        rgba(255, 165, 0, 0.55) 2%);
        }
   20% {
    background:rgba(255, 180, 43, 0.48)
     repeating-linear-gradient(-70deg,
      transparent 2%, transparent 2.2%,
       rgba(255, 165, 0, 0.55) 1.2%,
        rgba(255, 165, 0, 0.55) 2.2%);
   }
   40% {
    background:rgba(255, 180, 43, 0.48)
     repeating-linear-gradient(-70deg,
      transparent 0.4%, transparent 1.4%,
       rgba(255, 165, 0, 0.55) 1.4%,
        rgba(255, 165, 0, 0.55) 2.4%);
   }
   60% {
    background:rgba(255, 180, 43, 0.48)
     repeating-linear-gradient(-70deg,
      transparent 0.6%, transparent 1.6%,
       rgba(255, 165, 0, 0.55) 1.6%,
        rgba(255, 165, 0, 0.55) 2.6%);
   }
   80% {
    background:rgba(255, 180, 43, 0.48)
     repeating-linear-gradient(-70deg,
      transparent 0.8%, transparent 1.8%,
       rgba(255, 165, 0, 0.55) 1.8%,
        rgba(255, 165, 0, 0.55) 2.8%);
   }
   100% {
    background:rgba(255, 180, 43, 0.48)
     repeating-linear-gradient(-70deg,
      transparent 1%, transparent 2%,
       rgba(255, 165, 0, 0.55) 3%,
        rgba(255, 165, 0, 0.55) 3%);
   }
} */
.error li {
  font: 100%/1 titr;
}
.error li:before {
  content: "\f071";
  display: inline-block;
  font: 120% fontawesome;
  margin-left: 10px;
}
.label-name {}
.message {
  padding: 20px;
  font: bold 150%/1 titr;
/*   color: white;
  border: 3px solid blue;
    background:#59b9ff
     repeating-linear-gradient(-70deg, 
     transparent 0%, transparent 1%, 
     #5050ff 1%, #5050ff 2%); */

  color: white;
  border: 3px solid green;
    background:#02c302
     repeating-linear-gradient(-70deg, 
     transparent 0%, transparent 1%, 
     green 1%, green 2%);
}
/***************************
COMMENTS
***************************/
.comment {
  display: inline-block;
  padding: .5em 1em;
  border-radius: 5px;
  margin: .5em;
  border: 1px solid #888;
}
.strong {
  font: bolder 100%/1 titr;
  display: inline-block;
}
.user-comment {
  direction: rtl;
}
.others-comment {
  direction: ltr;
}
.user-comment .comment{
  background: #ffe8be;
}
.others-comment .comment{
  background: orange;
}

.user-comment .comment p {
  margin-right: .5cm;
}
.comment p:first-line {
  text-indent: .5em;
}
.others-comment .comment p {
  margin-left: .5cm;
}
/***************************
MEDIA QUERY
***************************/
@media screen and (min-width: 1024px) {
  .gallery > .gallery-item {
    width: 25%;
  }
}
@media screen and (max-width: 425px) {
  .gallery > .gallery-item {
    width: 25%;
  }
  #page-container #sidebar {
    float: none;
    width: 100%;
  }
  #page-container #main {
    width: 100%;
    margin: 0;
  }
  .is-profile [type="submit"] ,
  .is-profile [type="button"] {
    width: 100%;
    float: none;
    display: block;
  }
  .is-profile [type="submit"]:last-child ,
  .is-profile [type="button"]:last-child {
    float: none;
    margin-top: 5px;
  }
}